@import url("styles/header.css");

:root{
 --cor-de-fundo: #fcb8f0;
 --branco: #ffffff;
 --laranja: #cfaa17;
 --amarelo: #000000;
 --roxo-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
 --preto: #000000;

}
body{
    background-color: var(--cor-de-fundo);
}
